.cart__page {
  .black__section {
    background-color: black;
    .page__heading {
      font-family: Mulish;
      font-size: 80px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #fff;
      padding: 60px 0px;
    }
    .tag__line {
      font-family: Mulish;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
    }
    .products__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card_p {
        border: solid 1px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding: 8px;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .left__div {
          display: flex;
          align-items: center;
          gap: 20px;
          img {
            width: 80px;
            height: 84px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
          }
        }
        .right__div{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .qty{
                display: flex;
                align-items: center;
                gap: 10px;
                div{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    i{
                        font-size: 20px;
                        line-height: 10px;
                        &:first-child{
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
}
                    }
                }
            }
        }
      }
    }
    .payment__form{
        color: #fff;
        border: solid 2px #fff;
        padding: 20px ;
        max-width: 400px;
        margin: auto;
        .form__heading{
            font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
padding: 20px 0px;
        }
        .cards__section{
            margin: 8px 0px 30px;
            display: flex;
            justify-content: space-between;
            img{
                width: 60px;
                height: 40px;
                padding: 2px 10px;
                border: solid 1px #fff;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
    }
        }
        form{
            label{
                margin-bottom: 5px;
                color: #fff;
            }
            input{
                margin-bottom: 15px;
                width: 100%;
                color: #fff;
                background-color: black;
                height: 40px;
                padding: 4px 10px;
                border: solid 1px #fff;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
}
ul{
    padding: 0px 0px 10px;
    list-style: none;
    li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        span{
            font-family: Mulish;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

        }
    }
}
.checkout__section{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: solid 1px #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    span{
        font-family: Mulish;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #fff;
    }
}
        }
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
  }
}
