.one__touch {
    background-color: #262626;
    .inner__div {
      max-width: 800px;
      margin: 0px auto 60px;
      padding: 80px 0px;
      h3 {
        font-family: Mulish;
        font-size: 56px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: -0.05em;
        text-align: center;
        color: #fff;
      }
      p {
        font-family: Epilogue;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #BFBFBF;
      }
      .mail__div {
          display: flex;
          gap: 15px;
        input {
          font-family: Mulish;
          font-size: 24px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: 0em;
          text-align: left;
          width: 100%;
          border: none;
          padding: 1.5rem 1rem;
          color: #fff;
          background-color: #000;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
}
        button {
          font-family: Mulish;
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: center;
          min-width: 270px;
          color: #000000;
          padding: 1.5rem 1rem;
          background-color: #fff;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
}
      }
    }
  }